<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE xml>
<Configuration status="warn" name="Spirit default logging"
	packages="">
	<Appenders>
		<Console name="STDOUT">
			<PatternLayout pattern="%d [%t] %-5p %c: %m%n" />
		</Console>
		<RollingFile name="LOGFILE" fileName="spirit_default.log"
			filePattern="spirit_default.log.%d{yyyy-MM-dd}">
			<PatternLayout pattern="%d [%t] %-5p %c: %m%n" />
			<Policies>
				<TimeBasedTriggeringPolicy />
			</Policies>
		</RollingFile>
	</Appenders>
	<Loggers>
		<Root level="warn">
			<AppenderRef ref="STDOUT" />
			<AppenderRef ref="LOGFILE" />
		</Root>
	</Loggers>
</Configuration>
